# Scratchpad

In [1]:
#even wat uitproberen, welke type vectoren lust k-NN? 

# Manage imports for investigating data
import sklearn as sk
import numpy as np

# Visualisation
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab

%matplotlib inline

# Matrix X, target y met Len(X) = Len (y)

#Choose model parameters
#


import matplotlib.pyplot as plt
import numpy as np

In [ ]:
x.shape

In [ ]:
##error expected !!
from sklearn.linear_model import LinearRegression

model = LinearRegression(fit_intercept=True)
model.fit(x, y)

In [ ]:
X = x[:, np.newaxis]
X.shape

In [ ]:
X

In [ ]:
x

x.reshape(-1,1)

In [ ]:
x

## Now test with X_train

In [2]:
#Import Dataset

import pickle

#Load dataset
X_train, y_train = pickle.load(open("Target_Data/train_X_y.p", "rb"))

In [3]:
import pandas as pd

In [ ]:
#create dataframe with dict (https://pandas.pydata.org/pandas-docs/stable/10min.html)

X_t = X_train
y_t = y_train
i = 0 #counter
j = len(X_t[i])-1
#one df
df = pd.DataFrame({'X'+str(i) : X_t[i][:,0], 
                   'Y'+str(i) : X_t[i][:,1],
                   'Z'+str(i) : X_t[i][:,2]
                  })



df # works!

## base of algorithm

In [ ]:
#now try with 2 dfs

X_t = X_train
y_t = y_train
i = 0 #counter
j = len(X_t[i])-1
j = 0
#one df
df = pd.DataFrame({'X'+str(j) : X_t[i][j:,0], 
                   'Y'+str(j) : X_t[i][j:,1],
                   'Z'+str(j) : X_t[i][j:,2]
                  })



j=j+1
df2 = pd.DataFrame({'X'+str(j) : X_t[i][j:,0], 
                   'Y'+str(j) : X_t[i][j:,1],
                      'Z'+str(j) : X_t[i][j:,2]
                  })



result = pd.concat([df, df2], axis=1)

result.head(10)  #need to throw away the rows with NAs!

In [ ]:
#throw away NAs
result.dropna().tail(3)

In [ ]:
# old copy
def create_sliding_window_dataframe(X_t, y_t, windowLenght):
    #
    # returns dataframe with windows & target 
    #  for each sample
    #
    #
    
    # initialize
    result = pd.DataFrame
    numberOfFragments = len(X_t)
    
    i = 0 #counter
    
    while i < numberOfFragments:    #loop over wandelfragmenten
        # determine length (number of measurements) for the fragment
        numberOfMeasurements = len(X_t[i])
        
        j = 0   #counter 
        while j < (numberOfMeasurements-WindowLenght):  #loop over numberOfMeasurements, stop when window hits end
            #create windows
            w=0
            table = pd.DataFrame
            while w <  windowLenght:
                df = pd.DataFrame({'X'+str(j) : X_t[i][j:,0], 
                               'Y'+str(j) : X_t[i][j:,1],
                               'Z'+str(j) : X_t[i][j:,2]})
                table = pd.concat([result, df], axis=1)     #add window to the right of table
                w=w+1  #next window
            #all windows added to the right of the table, now drop windows with NA values
            table.dropna()
            
            #add target to table 
            target = pd.Series(y_target[i], index=[0:len(table)])
            table = pd.concat([result, target], axis=1)     #add target to the right of table
            
            #append table to result
            result = result.append(table)
            j=j+1 # next measurement
        
        # sliding windows created over all measurements of fragment, next fragment
        i=i+1

    return result

In [ ]:
##old version without wf id
def create_sliding_window_dataframe(X_t, y_t, slidingWindowLength):  # slidingWindowLength starts at 0
    #
    # Returns dataframe with on each row XYZ coordinates.
    #   Number of XYZ coordinates in row is equal to slidingWindowLength
    #   last column equals to subject from y_target.
    #
    #   Example for slidingWindowLength = 2
    #
    #  	    X0	        Y0	     Z0	        X1	    Y1	    Z1          yt
    #   0	-0.081722	9.9565	-0.231550	1.26670	8.6898	-0.653780   18
    #   1	1.266700	8.6898	-0.653780	0.38137	9.7249	-0.885320   18
    #
    #
    #

    # initialize
    result = pd.DataFrame()
    numberOfFragments = len(X_t)

    i = 0  # counter

    while (i < numberOfFragments):  # loop over wandelfragmenten
        # determine length (number of measurements) for the fragment
        numberOfMeasurements = len(X_t[i])
        w = 0
        window = pd.DataFrame()
        while (w < slidingWindowLength):
            df = pd.DataFrame({'X' + str(w): X_t[i][w:, 0],
                               'Y' + str(w): X_t[i][w:, 1],
                               'Z' + str(w): X_t[i][w:, 2]})
            window = pd.concat([window, df], axis=1)  # add df to the right of window
            w = w + 1  # next df
        # all windows added to the right of the table

        # add target to table
        # dropping windows with NA values
        target_index = np.arange(len(window.dropna()))
        target_values = [y_t[i]] * len(window.dropna())

        target = pd.Series(target_values, target_index, dtype=int, name='yT')
        window = pd.concat([window.dropna(), target], axis=1)  # add target to the right of table

        # append table to result
        result = result.append(window)

        # sliding windows created over all measurements of fragment, next fragment
        i = i + 1

        # progress indicator
        if i % 50 == True:
            print(i-1, end=', ')
        elif i % 10: 
            print('.', end='')

    return result.drop(result.columns[[-1, ]], axis=1), result[result.columns[-1]]

# stitch

In [4]:
#Load dataset
X_train, y_train = pickle.load(open("Target_Data/train_X_y.p", "rb"))

In [5]:

#Load test-set
X_test = pickle.load(open("Target_Data/test_X.p", "rb"))

In [6]:
len(X_test), len(X_train), len(y_train)

(626, 1857, 1857)

In [7]:
from sklearn.model_selection import train_test_split

Xs_train, Xs_test, ys_train, ys_test = train_test_split(X_train, y_train)

#check
len(Xs_train), len(ys_train), len(Xs_test), len(ys_test), np.unique(ys_train), type(ys_test)

(1392,
 1392,
 465,
 465,
 array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
        13., 14., 15., 16., 17., 18., 19., 20., 21.]),
 list)

In [8]:
def create_sliding_window_dataframe(X_t, y_t, slidingWindowLength):  # slidingWindowLength starts at 0
    #
    # Returns : 
    #   - dataframe with on each row XYZ coordinates
    #   - list of lenght(Dataframe) with the targetnumber that the slidingwindow belongs to
    #   - list of lenght(Dataframe) with integer to identify the wandelfragment (starting at 0)
    #
    #   The number of XYZ coordinates in row is equal to slidingWindowLength
    #   last column equals to subject from y_target.
    #
    #   Example for slidingWindowLength = 2
    #
    #  	    X0	        Y0	     Z0	        X1	    Y1	    Z1          yt    wf_id
    #   0	-0.081722	9.9565	-0.231550	1.26670	8.6898	-0.653780   18    0
    #   1	1.266700	8.6898	-0.653780	0.38137	9.7249	-0.885320   18    0
    #
    #
    #

    # initialize
    result = pd.DataFrame()
    numberOfFragments = len(X_t)

    i = 0  # counter

    while (i < numberOfFragments):  # loop over wandelfragmenten
        # determine length (number of measurements) for the fragment
        numberOfMeasurements = len(X_t[i])
        w = 0
        window = pd.DataFrame()
        while (w < slidingWindowLength):
            df = pd.DataFrame({'X' + str(w): X_t[i][w:, 0],
                               'Y' + str(w): X_t[i][w:, 1],
                               'Z' + str(w): X_t[i][w:, 2]})
            window = pd.concat([window, df], axis=1)  # add df to the right of window
            w = w + 1  # next df
        # all windows added to the right of the table

        # dropping windows with NA values
        window.dropna(inplace=True)

        # add target to table
        target_index = np.arange(len(window))
        target_values = [y_t[i]] * len(window)
        target = pd.Series(target_values, target_index, dtype=int, name='yT')

        window = pd.concat([window, target], axis=1)  # add target to the right of table

        # add wandelfragment id to DataFrame
        wf_index = np.arange(len(window))
        wf_values = [i] * len(window)
        wf_series = pd.Series(wf_values, wf_index, dtype=int, name='wf_id')

        window = pd.concat([window, wf_series], axis=1)

        # append table to result
        result = result.append(window)

        # sliding windows created over all measurements of fragment, next fragment
        i = i + 1

        # print progress indicator
        if i % 50 == True:
            print(i-1, end=', ')
        elif i % 10: 
            print('.', end='')

    return result.drop(result.columns[[-2,-1]], axis=1), list(result[result.columns[-2]]), list(result[result.columns[-1]])

In [ ]:
#Create Sliding Windows
wsize = 21 #slidingWindowLength
Xws_train, yws_train, train_fragment_id = create_sliding_window_dataframe(Xs_train, ys_train, wsize)
Xws_test, yws_test, test_fragment_id  = create_sliding_window_dataframe(Xs_test, ys_test, wsize)

0, ............................................50, ............................................100, ............................................150, ............................................200, ............................................250, ............................................300, ............................................350, ............................................400, ............................................450, ............................................500, ............................................550, ............................................600, ............................................650, ............................................700, ............................................750, ............................................800, ............................................850, ........................................

In [ ]:
#Fit model with full test set
from sklearn.neighbors import KNeighborsClassifier

n=1
kn = KNeighborsClassifier(n_neighbors=n)
kn.fit(Xws_train, yws_train)

# first collect all window-predictions
window_prediction = kn.predict(Xws_test) #type = nparray

In [28]:
# and put them into a df, note we first need to  convert wp, yws_test and test_fragment_id to pd.Series
R = pd.concat([pd.Series(window_prediction.tolist(), name='predict')
               , pd.Series(yws_test, name='y')
               , pd.Series(test_fragment_id, name='i')]
              , axis=1)

In [29]:
R.groupby(['i']).count()

     predict   y
i
0         37  37
1         46  46
2         39  39
3         30  30
4         44  44
5         35  35
6         52  52
7         39  39
8         25  25
9         42  42
10        48  48
11        47  47
12        49  49
13        26  26
14        46  46
15        53  53
16        28  28
17        53  53
18        30  30
19        25  25
20        37  37
21        38  38
22        33  33
23        31  31
24        26  26
25        38  38
26        42  42
27        46  46
28        36  36
29        31  31
..       ...  ..
435       34  34
436       46  46
437       47  47
438       37  37
439       43  43
440       25  25
441       44  44
442       36  36
443       37  37
444       51  51
445       55  55
446       48  48
447       25  25
448       47  47
449       46  46
450       45  45
451       52  52
452       45  45
453       31  31
454       46  46
455       35  35
456       27  27
457       25  25
458       45  45
459       42  42
460       27  27
461       32  32
462       48  48
463       43  43
464       28  28

[465 rows x 2 columns]

In [19]:
#check the number of predtions for each wandelfragment
R.groupby(['i','predict']).count()

              y
i   predict
0   17       37
1   1         1
    13       17
    16        4
    17        4
    21       20
2   8        39
3   3         1
    10        2
    17       27
4   5         3
    6         2
    19       39
5   1         1
    17       26
    21        8
6   17        3
    21       49
7   8        34
    19        5
8   16       25
9   3         1
    6         1
    8         2
    10        3
    11        4
    12       13
    13       16
    17        1
    21        1
...          ..
443 8        37
444 3        51
445 17       55
446 16       48
447 16       25
448 0        47
449 16       46
450 8        13
    16       23
    21        9
451 11       52
452 16        5
    19       40
453 13       31
454 12       46
455 8        35
456 16       27
457 13       25
458 1        15
    12        5
    13        1
    16        1
    20       23
459 5        42
460 13       27
461 17       32
462 17       48
463 21       43
464 8         1
    16       27

[909 rows x 1 columns]

In [25]:
R[R.i == 1]

    predict   y  i  count
37       21  21  1     20
38       21  21  1     20
39       21  21  1     20
40       21  21  1     20
41       21  21  1     20
42       21  21  1     20
43       21  21  1     20
44       21  21  1     20
45       21  21  1     20
46       21  21  1     20
47       21  21  1     20
48       21  21  1     20
49       21  21  1     20
50       13  21  1     17
51       13  21  1     17
52       13  21  1     17
53       13  21  1     17
54       13  21  1     17
55       13  21  1     17
56       13  21  1     17
57       13  21  1     17
58       13  21  1     17
59       13  21  1     17
60       13  21  1     17
61       13  21  1     17
62       13  21  1     17
63       13  21  1     17
64       13  21  1     17
65       13  21  1     17
66       13  21  1     17
67       16  21  1      4
68       16  21  1      4
69        1  21  1      1
70       21  21  1     20
71       21  21  1     20
72       21  21  1     20
73       21  21  1     20
74       21  21  1     20
75       16  21  1      4
76       16  21  1      4
77       21  21  1     20
78       21  21  1     20
79       17  21  1      4
80       17  21  1      4
81       17  21  1      4
82       17  21  1      4

In [34]:
#Add this count as new column
R['count'] = R.groupby(['i','predict'])['y'].transform('count')

In [31]:
R.groupby(['i']).count()

     predict   y
i
0         37  37
1         46  46
2         39  39
3         30  30
4         44  44
5         35  35
6         52  52
7         39  39
8         25  25
9         42  42
10        48  48
11        47  47
12        49  49
13        26  26
14        46  46
15        53  53
16        28  28
17        53  53
18        30  30
19        25  25
20        37  37
21        38  38
22        33  33
23        31  31
24        26  26
25        38  38
26        42  42
27        46  46
28        36  36
29        31  31
..       ...  ..
435       34  34
436       46  46
437       47  47
438       37  37
439       43  43
440       25  25
441       44  44
442       36  36
443       37  37
444       51  51
445       55  55
446       48  48
447       25  25
448       47  47
449       46  46
450       45  45
451       52  52
452       45  45
453       31  31
454       46  46
455       35  35
456       27  27
457       25  25
458       45  45
459       42  42
460       27  27
461       32  32
462       48  48
463       43  43
464       28  28

[465 rows x 2 columns]

In [35]:
R.head(5)

   predict   y  i  count
0       17  17  0     37
1       17  17  0     37
2       17  17  0     37
3       17  17  0     37
4       17  17  0     37

In [41]:
#Add this count as new column
R['count'] = R.groupby(['i','predict'])['y'].transform('count')

In [42]:
R.head(5)

   predict   y  i  count
0       17  17  0     37
1       17  17  0     37
2       17  17  0     37
3       17  17  0     37
4       17  17  0     37

In [43]:
#check the number of predtions for each wandelfragment
R.groupby(['y','i','count']).count()

              predict
y  i   count
0  38  41          41
   49  29          29
   69  36          36
   100 37          37
   101 30          30
   127 30          30
   166 48          48
   240 2            2
       13          13
       16          16
   258 54          54
   269 47          47
   299 31          31
   342 39          39
   369 48          48
   378 28          28
   390 49          49
   419 18          18
       25          25
   448 47          47
1  83  8            8
       18          18
   129 1            1
       4            4
       10          10
       20          20
   209 1            1
       2            2
       4            4
       5            5
...               ...
21 137 39          39
   147 41          41
   151 29          29
   155 1            1
       39          39
   156 29          29
   264 41          41
   270 47          47
   320 45          45
   324 2            2
       29          29
   327 44          44
   328 26          26
   330 49          49
   364 1            1
       6            6
       28          28
   387 3            6
       48          48
   400 54          54
   426 37          37
   428 42          42
   430 1            1
       30          30
   434 2            2
       14          28
   450 9            9
       13          13
       23          23
   463 43          43

[836 rows x 1 columns]

In [ ]:
#Add this count as new column
R['count2'] = R.groupby(['y','i','count','predict'])['predict'].transform('count')

In [ ]:
R.drop(['count2'], axis=1, inplace=True)
R[R.i == 3]

In [ ]:
len(R[R.i == 8])

# Other algorithms

yws_train.head(4)

### Models

In [ ]:
# machine learning tools
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import SGDClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.decomposition import PCA

# Model 0: Linear Regression
from sklearn.linear_model import LinearRegression

linear_regression = LinearRegression()
linear_regression.fit(Xws_train, yws_train)
print("The training accuracy for Linear Regression is ", linear_regression.score(Xws_train, yws_train))
print("The testing accuracy for Linear Regression is ", linear_regression.score(Xws_test, yws_test))

# Model 1: Logistic Regression
from sklearn.linear_model import LogisticRegression

logistic_regression = LogisticRegression()
logistic_regression.fit(Xws_train, yws_train)
print("The training accuracy for Logistic Regression is ", logistic_regression.score(Xws_train, yws_train))
print("The testing accuracy for Logistic Regression is ", logistic_regression.score(Xws_test, yws_test))

# Model 3: Random Forestry
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=21)
random_forest.fit(Xws_train, yws_train)
print("The training accuracy for Random Forestry is ", random_forest.score(Xws_train, yws_train))
print("The testing accuracy for Random Forestry is ", random_forest.score(Xws_test, yws_test))

# Model 4: Decision Tree
from sklearn.tree import DecisionTreeClassifier



decision_tree = DecisionTreeClassifier()
decision_tree.fit(Xws_train, yws_train)
print("The training accuracy for Decision Tree is ", decision_tree.score(Xws_train, yws_train))
print("The testing accuracy for Decision Tree is ", decision_tree.score(Xws_test, yws_test))

# Model 5: K-Neighbors
from sklearn.neighbors import KNeighborsClassifier

n=1
while n <=8: 
    kn = KNeighborsClassifier(n_neighbors=n)
    kn.fit(Xws_train, yws_train)
    print(" n_neighbors=", n)
    print("The training accuracy for K-Neighbors is ", kn.score(Xws_train, yws_train))
    print("The testing accuracy for K-Neighbors is ", kn.score(Xws_test, yws_test))
    n = n + 1
    
# Model 6: Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB

naive_bayes = GaussianNB()
naive_bayes.fit(Xws_train, yws_train)
print("The training accuracy for Gaussian Naive Bayes is ", naive_bayes.score(Xws_train, yws_train))
print("The testing accuracy for Gaussian Naive Bayes is ", naive_bayes.score(Xws_test, yws_test))

# Model 7: Neural Network
from sklearn.neural_network import MLPClassifier

nn = MLPClassifier()
nn.fit(Xws_train, yws_train)
print("The training accuracy for Neural Network is ", nn.score(Xws_train, yws_train))
print("The testing accuracy for Neural Network is ", nn.score(Xws_test, yws_test))

In [ ]:
print('Start Loop', strftime("%Y-%m-%d %H:%M:%S", gmtime()))

while w<45 :
    print('Windowsize =', w)
    print()
    print(strftime("%Y-%m-%d %H:%M:%S", gmtime()))
    print()

    windowsize = w
    Xws_train, yws_train = create_sliding_window_dataframe(Xs_train, ys_train, windowsize)
    Xws_test, yws_test = create_sliding_window_dataframe(Xs_test, ys_test, windowsize)

    print('sliding done')
    print()
    print(strftime("%Y-%m-%d %H:%M:%S", gmtime()))
    print()


    # Model 0: Linear Regression
    from sklearn.linear_model import LinearRegression

    linear_regression = LinearRegression()
    linear_regression.fit(Xws_train, yws_train)
    print("The training accuracy for Linear Regression is ", linear_regression.score(Xws_train, yws_train))
    print("The testing accuracy for Linear Regression is ", linear_regression.score(Xws_test, yws_test))
    print()

    # Model 1: Logistic Regression
    from sklearn.linear_model import LogisticRegression

    logistic_regression = LogisticRegression()
    logistic_regression.fit(Xws_train, yws_train)
    print("The training accuracy for Logistic Regression is ", logistic_regression.score(Xws_train, yws_train))
    print("The testing accuracy for Logistic Regression is ", logistic_regression.score(Xws_test, yws_test))
    print()

    # Model 3: Random Forestry
    from sklearn.ensemble import RandomForestClassifier

    random_forest = RandomForestClassifier(n_estimators=21)
    random_forest.fit(Xws_train, yws_train)
    print("The training accuracy for Random Forestry is ", random_forest.score(Xws_train, yws_train))
    print("The testing accuracy for Random Forestry is ", random_forest.score(Xws_test, yws_test))
    print()

    # Model 4: Decision Tree
    from sklearn.tree import DecisionTreeClassifier

    decision_tree = DecisionTreeClassifier()
    decision_tree.fit(Xws_train, yws_train)
    print("The training accuracy for Decision Tree is ", decision_tree.score(Xws_train, yws_train))
    print("The testing accuracy for Decision Tree is ", decision_tree.score(Xws_test, yws_test))
    print()

    n=1
    while n<21:

        # Model 5: K-Neighbors
        from sklearn.neighbors import KNeighborsClassifier

        kn = KNeighborsClassifier(n_neighbors=n)
        kn.fit(Xws_train, yws_train)
        print(" n_neighbors=", n)
        print("The training accuracy for K-Neighbors is ", kn.score(Xws_train, yws_train))
        print("The testing accuracy for K-Neighbors is ", kn.score(Xws_test, yws_test))
        print()
        n=n+2

    # Model 6: Gaussian Naive Bayes
    from sklearn.naive_bayes import GaussianNB

    naive_bayes = GaussianNB()
    naive_bayes.fit(Xws_train, yws_train)
    print("The training accuracy for Gaussian Naive Bayes is ", naive_bayes.score(Xws_train, yws_train))
    print("The testing accuracy for Gaussian Naive Bayes is ", naive_bayes.score(Xws_test, yws_test))
    print()

    '''
    # Model 7: Neural Network
    from sklearn.neural_network import MLPClassifier

    nn = MLPClassifier()
    nn.fit(Xws_train, yws_train)
    print("The training accuracy for Neural Network is ", nn.score(Xws_train, yws_train))
    print("The testing accuracy for Neural Network is ", nn.score(Xws_test, yws_test))
    print()
    '''
    w=w+2


print()
print()
print('End', strftime("%Y-%m-%d %H:%M:%S", gmtime()))